
@font-face {
    font-family: 'Iceberg';
    src: url('/fonts/iceberg.woff') format('woff');
    /* Adicione outros formatos de fonte, se necessário */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Iceberg', sans-serif;
  }